<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools And Ecosystem

In This Tool Data Science and Ecosystem Are Summarized

OBJECTIVES :
* To list popular languages in data science.
* To list popular libraries data scientists uses.
* To add and multiply in Code.

Some Of The Popular Languages Data Science uses are
1)Python
2)Julia
3)R

Some of the most commonly libraries used by data scientists includes
1)NumPy
2)Pandas
3)Tensorflow

| Column 1 |

| Data Science Tools |
| Apache Spark       |
| Tensor flow         |
| Matplotlib          |

 ### Below are a few examples of evaluating arithmetic expressions in Python 
 
 $  x^2 + y^2 = z^2 $

This a simple arithmetic expression to multiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author
Ankit Kumar